boto3==1.9.9
botocore==1.12.9
certifi==2018.8.24
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
dj-database-url==0.5.0
Django==2.0.3
django-cors-headers==2.4.0
django-filter==2.0.0
django-storages==1.7.1
django-tinymce==2.7.0
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
docutils==0.14
git-semver==0.2.3
gitdb2==2.0.5
GitPython==2.1.11
gunicorn==19.9.0
httpie==0.9.9
idna==2.7
itypes==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
olefile==0.46
Pillow==5.2.0
pipdeptree==0.13.0
psycopg2-binary==2.7.5
pur==5.0.0
Pygments==2.2.0
PyJWT==1.6.4
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
s3transfer==0.1.13
semantic-version==2.6.0
six==1.11.0
smmap2==2.0.5
uritemplate==3.0.0
urllib3==1.23
whitenoise==4.1
